.overlay {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  // display: none;
  // height: 100%;

  .drawer {
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 420px;
    background: #ffffff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;

    h2 {
      margin: 0;
    }

    .cartEmpty {
      text-align: center;

      p {
        width: 280px;
        line-height: 24px;
      }

      .greenButton {
        width: 245px;
        margin-top: 20px;

        &:hover {
          img {
            transform: rotate(180deg) translateX(3px);
          }
        }

        img {
          position: relative;
          top: 1px;
          transform: rotate(180deg);
          margin-right: 15px;
          transition: transform 0.15s ease-in-out;
        }
      }
    }

    .cartItems {
      flex: 1;
      overflow: auto;
      margin-bottom: 40px;
    }

    .cartTotalBlock {
      ul {
        margin-bottom: 40px;

        li {
          display: flex;
          align-items: flex-end;
          margin-bottom: 20px;
        }

        div {
          flex: 1;
          height: 1px;
          border-bottom: 1px dashed #dfdfdf;
          position: relative;
          top: -4px;
          margin: 0 7px;
        }
      }

      .greenButton {
        position: relative;

        &:hover {
          img {
            transform: translateX(5px);
          }
        }

        img {
          position: absolute;
          right: 30px;
          top: 20px;
          transition: transform 0.15s ease-in-out;
        }
      }
    }
  }
}
