.overlay {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;

  .drawer {
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 420px;
    background: #ffffff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    h2 {
      margin: 0;
    }

    .cartItems {
      flex: 1;
      overflow: auto;
      margin-bottom: 40px;
    }

    .cartTotalBlock {
      ul {
        margin-bottom: 40px;

        li {
          display: flex;
          align-items: flex-end;
          margin-bottom: 20px;
        }

        div {
          flex: 1;
          height: 1px;
          border-bottom: 1px dashed #dfdfdf;
          position: relative;
          top: -4px;
          margin: 0 7px;
        }
      }

      .greenButton {
        position: relative;
        width: 100%;
        border-radius: 18px;
        height: 55px;
        background: #9dd558;
        border: 0;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        transition: background-color 0.1s ease-in-out;

        img {
          position: absolute;
          right: 30px;
          top: 20px;
          transition: transform 0.15s ease-in-out;
        }

        &:disabled {
          background-color: #bebebe;
          cursor: default;
        }

        &:hover {
          background: lighten($color: #9dd558, $amount: 5%);

          img {
            transform: translateX(5px);
          }
        }

        &:active {
          background: darken($color: #9dd558, $amount: 5%);
        }
      }
    }
  }
}

.overlayVisible {
  visibility: visible;
  opacity: 1;

  .drawer {
    transform: translateX(0);
  }
}
